<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  <title>fccpd</title>


</head>
<body>

  <header>
    <nav>
      <h1><a class="header-title" href="#">💀 App Angular</a></h1>
      <ul>
        <li>Página inicial</li>
    </ul>
    </nav>
  </header>



  <blockquote>
    <footer>
      Desenvolvido por:
      <br>
      Ana Beatriz Xavier, Isadora Viana, Mateus Araújo e Rômulo José
    </footer>
  </blockquote>
</body>
</html>
